body {
    background-color:rgb(130, 248, 51);
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
}
h1 {
    color:whitesmoke;
    text-shadow: 1px 1px #000;
}
.area {
	display: flex;

	 
}
.botao {
	flex:1;
    margin:30px;
}
.container{
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.formulario form {
	background-color: #c1c1c1;
	width:200px;
	height:110px;
	padding: 20px;
} 
body ul li {
	list-style-type: none;
}
.calculadora input{
	width: 50px;
}

.areaCalc{
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora fieldset {
	background-color: #c1c1c1;
	width:250px;
	height:320px;
	padding: 10px;
} 

.calculadora legend {
	color:#e00303;
	text-shadow: 0px 0px #000;
}

input#numero1,
input#numero2{
   background-color:purple;
   color: #fff;
   font-size: 15px;
   width: 50px;
   text-align: center;
}
input#opera {
	border:none;
	background: none;
	font-size:20px;
	text-align: center;
}
input#somaTotal{
    background-color: #777;
   color: #fff;
   font-size: 1.8em;
   width: 80px;
   font-weight: bold;
   text-align: center;
}
form h2{
   color: red;
}

form #option{
   font-size: 1.4em;
   background-color: #777;
   color: #6f9;
}
/*
	Estoura balao
*/
.parkContent {
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}
.parkMold {
	width: 550px;
	height: 400px;
	background: #6C7A89;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}
.parque {
	width:500px;
	height:350px;
	background: url('assets/images/parque.jpg') no-repeat;
}
.bola {
	width:50px;
	background: url('assets/images/balaos.png') no-repeat;
	height: 81px;
	position: fixed;
	z-index: 10;
}
.ponto input {
	width:80px;
	height:50px;
	background-color: #333;
	float:center;
	color:#fff;
	text-align: center;
	font-family: arial;
	font-size: 50pt;
	line-height: 50px;
}